* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

nav {
/*  border-bottom: solid #666 2px;
*/  padding: 20px;
  width: 100%;
  height: 80px;
  font-weight: bold;
  position:fixed;
  background-color: #111;
}

nav .brand, nav .brand a {
  margin-left: 25px;
  font-size: 18pt;
  text-decoration: none;
  color: #666;
  width: 60%;
  display: inline-block;
}

nav ul {
  display: inline-block;
  width: 30%;
  text-align: right;
}

nav li {
  margin-right: 25px;
  display: inline;
}

nav li a {
  color: gray;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

.read {
  background-color: #DDD;
  font-weight: 100;
}

.unread {
  background-color: #EEE;
  font-weight: 600;
}
.unread:hover{
  background-color: #FFC;
  color: black;
}
.read:hover{
  background-color: #DDB;
  color: black;
}

.messages_table {
    width: 100%;
}


.messages_table td {
  padding: 5px;
}

.contact_photo {
  float: left;
}

.contact_photo img {
  width: 200px;
}

.contact_info {
  float: left;
  padding: 20px;
}


#sidebar{
  top: 80px;
  display: inline-block;
  width: 20%;
  background-color: #222;
  height: 100%;
  position: fixed;
  color: #666;
  border-right: 2px solid white;
  border-top: 2px solid white;
  padding: 18px;
}
#sidebar ul{
  list-style: none;
}


#messages_container{
  margin-left: 20%;
  margin-top: 80px;
  display: inline-block;
  width: 80%;
  background-color: #DDD;
  border-top: 2px solid white;

}

/*#message_header{
  position: fixed;

}
*/

th{
  padding: 20px;
  background-color: #222;
  color: #666;
}
td:first-child{
  padding-left: 30px;

}

tr{
  border-bottom: white solid 2px;
}

/*table{
  table-layout: fixed;
}*/
/*.messages_table th, .messages_table td{
  width: 20%;
}

.messages_table .important_cell{
  width: 30%;
}*/





