<div class="contacts_container">

  <h2>New Contact</h2>

  <form action="/contacts" method="post">
    <%= erb :"contacts/_form", layout: false %>
    <input type="submit" value="Create">
  </form>

</div>
