<div class="contact_container">

  <div class="contact_photo">
    <img src="https://www.photoshopgurus.com/forum/attachments/general-photoshop-board/31838d1367498666t-help-beard-logo-outline-head-hair-ears-beard-dj-logo-blankbeardedface_02-png">
  </div>

  <div class="contact_info">
    <h2><%= @contact.name %></h2>
    <p><%= @contact.email %></p>
  </div>

</div>
