<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <style>
    svg {
      width: 35px;
      height: 35px;
    }

    .male-icon {
      fill: #DDD
    }
  </style>

  <title>AlphaMail</title>
</head>
<body>

  <nav>

    <div class="brand">
      <a href="/">
        <span>AlphaMail</span>
        <svg class="male-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Your_Icon" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
          <path d="M91.021,6.81c-0.101-0.908-0.273-1.398-0.562-1.629c-1.803-1.398-23.323,5.715-24.657,7.344l-0.18,0.389  c-0.036,0.663,2.497,3.121,5.78,5.975l-9.82,11.993c-5.287-3.315-11.508-5.254-18.197-5.254c-19.057,0-34.502,15.525-34.502,34.689  C8.883,79.468,24.329,95,43.385,95c19.058,0,34.503-15.532,34.503-34.683c0-8.115-2.793-15.561-7.431-21.471  c0.043-0.043,0.108-0.064,0.151-0.115L80.664,26.45c1.373,1.06,2.583,1.953,3.48,2.58c2.883,1.997,3.475,2.025,3.827,1.859  l0.296-0.23C89.773,28.814,91.554,11.552,91.021,6.81z M43.385,85.847c-14.033,0-25.399-11.432-25.399-25.529  c0-14.104,11.366-25.536,25.399-25.536c14.027,0,25.393,11.431,25.393,25.536C68.778,74.415,57.412,85.847,43.385,85.847z"/>
        </svg>
      </a>
    </div>

    <ul>
      <% if current_user %>
        <li><a id="sign-out" href="/sessions/<%= current_user.id %>">Sign Out</a></li>
      <% else %>
        <li><a href="/sessions/new">Sign In</a></li>
        <li><a href="/users/new">Sign Up</a></li>
      <% end %>
    </ul>

  </nav>

  <%= yield %>
</body>
</html>
