<div class="content-wrapper">
  <div class="content">

    <%= yield %>

  </div>
</div>

  <div class="sidebar">
    <nav>
      <ul>
        <li><a href="/"><i class="fa fa-inbox"></i> <span class="nav-text">Inbox</span></a></li>
        <li><a href="#"><i class="fa fa-send"></i> <span class="nav-text">Sent</span></a></li>
        <li><a href="#"><i class="fa fa-edit"></i> <span class="nav-text">Drafts</span></a></li>
        <li><a href="#"><i class="fa fa-trash"></i> <span class="nav-text">Trash</span></a></li>
        <li><a href="/contacts"><i class="fa fa-user"></i> <span class="nav-text">Contacts</span></a></li>
      </ul>
    </nav>
  </div>

</div>
