<div class="content-wrapper">
  <div class="content">

    <%= yield %>

    </div>
  </div>

  <div class="sidebar">
    <nav>
      <ul>
        <li><a href="/"><i class="fa fa-inbox"></i> Inbox</a></li>
        <li><a href="#"><i class="fa fa-send"></i> Sent</a></li>
        <li><a href="#"><i class="fa fa-edit"></i> Drafts</a></li>
        <li><a href="#"><i class="fa fa-trash"></i> Trash</a></li>
      </ul>
    </nav>
  </div>

</div>
