<div class="content-wrapper">
  <div class="content">

    <%= yield %>

    </div>
  </div>

  <div class="sidebar">
    <nav>
      <ul>
        <li><a href="#"><i class="fa fa-inbox light"></i> Inbox</a></li>
        <li><a href="#"><i class="fa fa-send light"></i> Sent</a></li>
        <li><a href="#"><i class="fa fa-edit light"></i> Drafts</a></li>
      </ul>
    </nav>
  </div>

</div>
